:root {
  --black-text: #212121;
  --graphite-text: #757575;
  --white-text: #ffffff;
  --wt-op60: rgba(255, 255, 255, 0.6);
  --blue-text: #2196f3;
  --lightblack: #2f303a;
  --grey: #f5f4fa;
  --darkblack: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.colortext {
  color: var(--darkblack);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-text);
}

.link-prime {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.link-current {
  color: var(--blue-text);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
  background: var(--lightblack);
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button-one {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--white-text);
  background: var(--blue-text);
}

.button-one:hover,
.button-one:focus {
  color: var(--black-text);
  background-color: var(--white-text);
}

/* .features /* Особенности
 {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
} */

/* general-features */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

/* about us */

.function-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.staff {
  background: var(--grey);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.members-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.post-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

footer {
  background-color: var(--lightblack);
}

.colorword {
  color: var(--white-text);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--wt-op60);
}

.address-link:hover,
.address-link:focus {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--blue-text);
}


/* Portfolio */

.link-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--graphite-text);
}
.link-info:hover,
.link-info:focus {
  color: var(--blue-text);
}

.btn:hover,
.btn:focus {
  background-color: var(--blue-text);
  color: var(--white-text);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background: var(--grey);
}

/* main */

.catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.catalog-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--graphite-text);
}

